<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.hb.model.BoardMapper">
	
	<select id="getBoardList" resultType="com.hb.vo.BoardVO"
	parameterType="com.hb.vo.NaviVO">
		SELECT NUM, NO, SUBJECT, WRITER, REGDATE
		FROM(
			SELECT
				ROWNUM AS NUM, NO, SUBJECT, WRITER, REGDATE
			FROM
  				BOARDS) A
		WHERE
			NUM BETWEEN #{beginRecode} AND #{endRecode}
		ORDER BY 
			NUM ASC
	</select>
	
	<select id="getTotalRecode" resultType="int">
		SELECT COUNT(*) FROM BOARDS
	</select>
	
	<select id="getBoardDetail" parameterType="com.hb.vo.BoardVO" 
	resultType="com.hb.vo.BoardVO">
		SELECT 
		NO, SUBJECT, WRITER, PASSWORD, 
		READHIT, REGDATE, GROUPNO, 
		ORDERNO, DEPTH, CONTENT, FILENAME, FILEPATH, FILESIZE
		FROM 
		BOARDS 
		WHERE NO = #{no} 	
	</select>
			
	<insert id="insertBoard" parameterType="com.hb.vo.BoardVO">
		INSERT
		INTO 
		BOARDS(
		NO, SUBJECT, WRITER, PASSWORD,
		CONTENT, FILEPATH, FILENAME, FILESIZE
		) VALUES(
		MYBOARD.NEXTVAL, #{subject}, #{writer},
		#{password}, #{content}, #{filepath}, #{filename},
		#{filesize} )
	</insert>
	
	<update id="modifyBoard" parameterType="com.hb.vo.BoardVO">
		 UPDATE 
		 BOARDS 
		 SET 
		 SUBJECT = #{subject} , CONTENT = #{content} 
		 WHERE 
		 NO = #{no} 
	</update>
	
	<delete id="deleteBoard" parameterType="com.hb.vo.BoardVO">
		DELETE FROM BOARDS WHERE NO = #{no}
	</delete>
	
	<select id="getReplyList" parameterType="com.hb.vo.ReplyVO"
	resultType="com.hb.vo.ReplyVO">
		SELECT
			ID, WRITER, REGDATE, CONTENT, PARENTID, 
			GROUPID, GROUPCNT, DEPTH
		FROM
			REPLY
		WHERE
			PARENTID = #{parentid}
		ORDER BY
			GROUPID ASC, GROUPCNT ASC
	</select>
	
	<delete id="deleteReply" parameterType="com.hb.vo.ReplyVO">
		DELETE FROM REPLY WHERE ID = #{id}
	</delete>
	
	<insert id="insertReply" parameterType="com.hb.vo.ReplyVO">
		INSERT INTO REPLY(
			ID,WRITER,REGDATE,CONTENT,PARENTID,GROUPID)
		VALUES(MYREPLY.NEXTVAL,#{writer},sysdate,#{content},
		#{parentid},MYREPLY.CURRVAL)
	</insert>
	
	<insert id="insertReply2" parameterType="com.hb.vo.ReplyVO">
		INSERT INTO REPLY(
			ID,WRITER,REGDATE,CONTENT,PARENTID,GROUPID,GROUPCNT,DEPTH)
		VALUES(MYREPLY.NEXTVAL,#{writer},sysdate,#{content},
		#{parentid},#{groupid},#{groupcnt},#{depth})
	</insert>
	
	<update id="shiftReply" parameterType="com.hb.vo.ReplyVO">
		UPDATE REPLY SET GROUPCNT=(GROUPCNT+1) 
		WHERE GROUPCNT >= #{groupcnt}
		AND GROUPID = #{groupid}
	</update>
	
	<update id="modifyReply" parameterType="com.hb.vo.ReplyVO">
		UPDATE REPLY SET CONTENT=#{content}
		WHERE ID = #{id}
	</update>
	
</mapper>